<li class="label">Main</li>
<li class="active"><a href="#!/portal"><i class="ti-dashboard"></i> Dashboard </a></li>

<li class="label">Events</li>
<li><a href="#!/hosting"><i class="ti-home"></i> Hosting </a></li>
<li><a href="#!/rsvp"><i class="ti-envelope"></i> RSVP</a></li>
<li class="label">Chat</li>
<li><a href="#!/chat"><i class="ti-email"></i> Inbox</a></li>
<li><a href="#!/notification"><i class="ti-bell"></i> Notifications</a></li>
<li class="label">Reports</li>
<li><a href="#!/invoices"><i class="ti-files"></i> Invoices </a></li>
<li><a href="#!/eventsReport"><i class="ti-file"></i> Events</a></li>
<li class="label">User</li>
<li><a href="#!/profile"><i class="ti-user"></i> Profile</a></li>
<li><a href="#!/logout"><i class="ti-close"></i> Logout</a></li>