<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div ng-include="'common/sidebar.htm'"></div>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div ng-include="'common/header.htm'"></div>