<div class="unix-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="javascript::void"><span>Bopper</span></a>
                    </div>
                    <div class="login-form">
                        <h4>Reset Password</h4>
                        <form>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                            <button type="submit" class="btn btn-primary btn-flat m-b-15">Submit</button>
                            <div class="register-link text-center">
                                <p>Back to <a href="#!/login"> Home</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>