<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div ng-include="'common/sidebar.htm'"></div>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div ng-include="'common/header.htm'"></div>
<div class="unix-invoice">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div id="invoice" class="effect2 m-t-120">
                    <div id="invoice-top">
                        <div class="invoice-logo"></div>
                        <div class="invoice-info">
                            <h2>Saiful Islam</h2>
                            <p> hello@htmlcooker.com <br> +8801629599859
                            </p>
                        </div>
                        <!--End Info-->
                        <div class="title">
                            <h4>Invoice #1069</h4>
                            <p>Issued: February 15, 2018<br> Payment Due: February 27, 2018
                            </p>
                        </div>
                        <!--End Title-->
                    </div>
                    <!--End InvoiceTop-->



                    <div id="invoice-mid">

                        <div class="clientlogo"></div>
                        <div class="invoice-info">
                            <h2>User Name</h2>
                            <p>mariam@gmail.com<br> 555-555-5555
                                <br>
                        </div>

                        <div id="project">
                            <h2>Description</h2>
                            <p>Proin cursus, dui non tincidunt elementum, tortor ex feugiat enim, at elementum enim quam vel purus. Curabitur semper malesuada urna ut suscipit.</p>
                        </div>

                    </div>
                    <!--End Invoice Mid-->

                    <div id="invoice-bot">

                        <div id="invoice-table">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr class="tabletitle">
                                        <td class="table-item">
                                            <h2>Event</h2>
                                        </td>
                                        <td class="Hours">
                                            <h2>Date</h2>
                                        </td>
                                        <td class="Rate">
                                            <h2>Amount</h2>
                                        </td>
                                        <td class="subtotal">
                                            <h2>Sub-total</h2>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Party V</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Party Gathering</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Party Q</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Party G</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Part x</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>

                                    <tr class="service">
                                        <td class="tableitem">
                                            <p class="itemtext">Part 6</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">5/4/2017</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75</p>
                                        </td>
                                        <td class="tableitem">
                                            <p class="itemtext">$75.00</p>
                                        </td>
                                    </tr>


                                    <tr class="tabletitle">
                                        <td></td>
                                        <td></td>
                                        <td class="Rate">
                                            <h2>Total</h2>
                                        </td>
                                        <td class="payment">
                                            <h2>$450.00</h2>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <!--End Table-->

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="QRZ7QTM9XRPJ6">
                            <input type="image" src="assets/images/paypal.png" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        </form>


                        <div id="legalcopy">
                            <p class="legal"><strong>Thank you for your business!</strong>  Payment is expected within 31 days; please process this invoice within that time. There will be a 5% interest charge per month on late invoices.
                            </p>
                        </div>

                    </div>
                    <!--End InvoiceBot-->
                </div>
                <!--End Invoice-->
            </div>
        </div>
    </div>
</div>