<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div ng-include="'common/sidebar.htm'"></div>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->

<div ng-include="'common/header.htm'"></div>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Events</h1>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
                <div class="col-lg-4 p-l-0 title-margin-left">
                    <div class="page-header">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Portal</a></li>
                                <li class="active">Add New Event</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
            <!-- /# row -->
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card alert">
                            <div class="card-header pr">
                                <h4>RSVP Events</h4>
                                <div class="search-action">
                                    <div class="search-type dib">
                                        <input class="form-control input-rounded" placeholder="#Roll type here..." type="text">
                                    </div>
                                    <div class="search-type dib">
                                        <input class="form-control input-rounded" placeholder="Phone number..." type="text">
                                    </div>
                                    <div class="search-type dib">
                                        <input class="form-control input-rounded" placeholder="search" type="text">
                                    </div>
                                </div>
                                <div class="card-header-right-icon">
                                    <ul>
                                        <li class="card-close" data-dismiss="alert"><i class="ti-close"></i></li>
                                        <li class="card-option drop-menu"><i class="ti-settings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="link"></i>
                                            <ul class="card-option-dropdown dropdown-menu">
                                                <li><a href="#"><i class="ti-loop"></i> Update data</a></li>
                                                <li><a href="#"><i class="ti-menu-alt"></i> Detail log</a></li>
                                                <li><a href="#"><i class="ti-pulse"></i> Statistics</a></li>
                                                <li><a href="#"><i class="ti-power-off"></i> Clear ist</a></li>
                                            </ul>
                                        </li>
                                        <li class="doc-link"><a href="#"><i class="ti-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table student-data-table m-t-20">
                                        <thead>
                                        <tr>
                                            <th><label><input type="checkbox" value=""></label>ID</th>
                                            <th>Photo</th>
                                            <th>Name</th>
                                            <th>Gender</th>
                                            <th>Parents Name</th>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Fees</th>
                                            <th>Status</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2901</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Angel Renal
                                            </td>
                                            <td>
                                                Female</td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2902</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2903</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Angel Renal
                                            </td>
                                            <td>
                                                Female</td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2904</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2905</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Angel Renal
                                            </td>
                                            <td>
                                                Female</td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-danger">Due</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2906</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2450</td>
                                            <td>
                                                <span class="badge badge-danger">Due</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2907</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-danger">Due</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2908</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2909</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2910</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                5
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$4500</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2911</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2912</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Angel Renal
                                            </td>
                                            <td>
                                                Female</td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$4500</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2913</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/2.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Angel Renal
                                            </td>
                                            <td>
                                                Female</td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                4
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$3450</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2914</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                2
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$1000</td>
                                            <td>
                                                <span class="badge badge-primary">Paid</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2915</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                1
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2000</td>
                                            <td>
                                                <span class="badge badge-warning">Pending</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label><input type="checkbox" value=""></label>#2916</td>
                                            <td>
                                                <div class="round-img">
                                                    <a href="#"><img src="assets/images/avatar/3.jpg" alt=""></a>
                                                </div>
                                            </td>
                                            <td>
                                                Lew Sahown
                                            </td>
                                            <td>
                                                Male
                                            </td>
                                            <td>
                                                William Carnio
                                            </td>
                                            <td>
                                                3
                                            </td>
                                            <td>
                                                A
                                            </td>
                                            <td>$2400</td>
                                            <td>
                                                <span class="badge badge-warining">Pending</span>
                                            </td>
                                            <td>
                                                +0098763
                                            </td>
                                            <td>
                                                eduminstudent@gmail.com
                                            </td>
                                            <td>
                                                10/05/2017
                                            </td>
                                            <td>
                                                <span><a href="#"><i class="ti-eye color-default"></i></a> </span>
                                                <span><a href="#"><i class="ti-pencil-alt color-success"></i></a></span>
                                                <span><a href="#"><i class="ti-trash color-danger"></i> </a></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /# column -->

                </div>
                <!-- /# row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer">
                            <p>This dashboard was generated on <span id="date-time"></span> <a href="#" class="page-refresh">Refresh Dashboard</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>