<div class="unix-login">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="javascript::void"><span>Bopper</span></a>
                    </div>
                    <div class="login-form">
                        <h4>Register</h4>
                        <form ng-submit="onFormSubmit($event)">
                            <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-label">*UserName</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="userRegisterInput.UserName" ng-model="user.UserName"
                                            dx-validator="userNameValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*FullNames</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="userRegisterInput.FullNames" ng-model="user.FullNames"
                                            dx-validator="fullNamesValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Email</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="userRegisterInput.Email" ng-model="user.Email"
                                            dx-validator="emailValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*PhoneNumber</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="userRegisterInput.phoneNumber" ng-model="user.PhoneNumber"
                                            dx-validator="phoneNumberValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Password</div>
                                    <div class="dx-field-value">
                                        <div id="password-validation" ng-model="user.Password"
                                            dx-text-box="{ mode: 'password', showClearButton: true }"
                                            dx-validator="passwordValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Confirm Password</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="{ mode: 'password', showClearButton: true }"
                                            dx-validator="confirmPasswordValidationRules">
                                        </div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div id="check" dx-check-box="{
                        value: false,
                        text: 'I agree to the Terms and Conditions'}" dx-validator="checkValidationRules">
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div id="summary" dx-validation-summary="{ }"></div>
                                </div>

                                <div class="dx-field">
                                    <div id="button" type="submit"
                                        class="btn btn-primary btn-flat m-b-30 m-t-30"
                                        dx-button="submitButtonOptions"></div>
                                </div>

                            </div>
                            <div class="register-link m-t-15 text-center">
                                <p>Already have account ? <a href="#!/login"> Sign in</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>