<div class="unix-login" ng-controller="loginCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="javascript::void"><span>Bopper</span></a>
                    </div>
                    <div class="login-form omb_login">
                        <h3 class="omb_authTitle">Login</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="fb-login-button" data-size="large" data-button-type="continue_with"
                                    data-auto-logout-link="false" data-use-continue-as="false"></div>
                                <!-- <div id="spinner" style="
        background: #4267b2;
        border-radius: 5px;
        color: white;
        height: 40px;
        text-align: center;
        width: 250px;">
                                    Loading
                                    <div class="fb-login-button" data-max-rows="1" data-size="large"
                                        data-button-type="continue_with" data-use-continue-as="true"></div>
                                </div> -->
                            </div>
                            <div class="col-sm-6">
                                <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true">
                                </div> -->
                                <google-sign-in-button button-id="uniqueid" options="options"></google-sign-in-button>
                            </div>


                        </div>

                        <div class="row omb_row-sm-offset-3 omb_loginOr">
                            <div class="col-xs-12 col-sm-6">
                                <hr class="omb_hrOr">
                                <span class="omb_spanOr">or</span>
                            </div>
                        </div>
                        <form ng-submit="onFormSubmit($event)">
                            <div class="dx-fieldset">
                                <div class="dx-field">
                                    <div class="dx-field-label">*UserName</div>
                                    <div class="dx-field-value">
                                        <div dx-text-box="userRegisterInput.UserName" ng-model="user.UserName"
                                            dx-validator="userNameValidationRules" required=""></div>
                                    </div>
                                </div>

                                <div class="dx-field">
                                    <div class="dx-field-label">*Password</div>
                                    <div class="dx-field-value">
                                        <div id="password-validation" ng-model="user.Password"
                                            dx-text-box="{ mode: 'password', showClearButton: true }"
                                            dx-validator="passwordValidationRules">
                                        </div>
                                    </div>
                                </div>


                                <div class="dx-field">
                                    <div id="summary" dx-validation-summary="{ }"></div>
                                </div>

                                <div class="dx-field">
                                    <div id="button" type="submit" class="btn btn-primary btn-flat"
                                        dx-button="submitButtonOptions"></div>
                                </div>
                                <div class="dx-field">
                                    <button type="button" id="login" ng-click="login()">login</button>
                                </div>

                            </div>
                            <div class="register-link m-t-15 text-center">
                                <p>Don't have account ? <a href="#!/register"> Sign Up Here</a></p>
                            </div>
                        </form>
                        <div class="row omb_row-sm-offset-3">
                            <div class="col-xs-12 col-sm-3">
                                <label class="checkbox">
                                    <input type="checkbox" value="remember-me">Remember Me
                                </label>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <p class="omb_forgotPwd">
                                    <a href="#">Forgot password?</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>